$primaryFont: 'Spartan';
$secondaryFont: 'Poppins';

//-- Style for Header
header{
    overflow: hidden;
    padding: 5px;
    background-color: black;

    .container{
        padding: 0 16px;
        display: flex;

        #titlePage{
            width: 70%;
            float: left;

            h1{
                font-family: $primaryFont;
                color: white;
                text-align: center;
            }
        }

        #buttons{
            width: 30%;
            float: left;
            margin: auto;

            a{
                float: left;
                display: block;
                font-family: $primaryFont;
                color: white;
                text-align: center;
                text-decoration: none;
                padding: 14px 16px;
            }
        }
    }
}

//--Style for div-container
#main{
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;

    .top{
        overflow: hidden;
        margin: 30px;
        padding-left: 20px;
        padding-right: 20px;

        #searchBar{
            display: block;
            text-align: center;
            
            h2{
                text-align: center;
                font-family: $primaryFont;
                
            }

            form{
                input{
                    width: 50%;
                    border: none;
                    height: 45px;
                    background-image: url('../../assets/icons/search/2x/baseline_search_white_18dp.png');
                    background-repeat: no-repeat;
                    background-position: left;
                }

                input[type=text]{
                    border-bottom: solid 5px whitesmoke;
                    background-color: black;
                    padding-left: 40px;
                    padding-right: 5px;
                    padding-top: 5px;
                    color: whitesmoke;
                    font-family: $primaryFont;
                }
            }
        }
    }

    .left{
        width: 50%;
        float: left;

        #checkBooks{
            height: 400px;
            background-color: rgba(88, 109, 115, 0.5);
            margin: 30px;
            padding: 20px;
            border-right: whitesmoke 4px solid;
            overflow: hidden;

            p{
                margin: 10px;
                font-family: $secondaryFont;
                font-weight: bold;
                letter-spacing: 0.2em;
            }

            span{
                font-family: $secondaryFont;
                margin: 10px;
            }

            a{
                font-family: $primaryFont;
                text-decoration: none;
                letter-spacing: 1px;
                color: black;
            }
        }
    }

    .right{
        width: 50%;
        float: left;

        #checkBeverages{
            height: 400px;
            background-color: rgba(88, 109, 115, 0.5);
            margin: 30px;
            padding: 20px;
            border-left: whitesmoke 4px solid;
            overflow: hidden;

            p{
                margin: 10px;
                font-family: $secondaryFont;
                font-weight: bold;
                letter-spacing: 0.2em;
            }

            span{
                font-family: $secondaryFont;
                margin: 10px;
            }

            a{
                font-family: $primaryFont;
                text-decoration: none;
                letter-spacing: 1px;
                color: black;
            }
        }

    }
}

//--Style for footer
footer{
    background-color: whitesmoke;
}